
.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.flexContainer {
    display: flex;
}

.flexContainer > div {
    flex: 1;
}

.textContent {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10px;
    max-width: calc(2 * 190);
}

.textContent .subTitle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.textContent .subTitle h5 {
    font-weight: bold;
    position: relative;
    margin: 0 0 0 5px;
}

.textContent .subTitle span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.textContent p {
    color: rgba(18, 18, 18, 0.7);
    padding-left: 25px;
}
