

.socialsContainer {
    display: flex;
    align-items: center;
}

.reactSlickContainer {
    width: 75%;
    margin: 0 36px 0 24px;
}

.reactSlickContainer img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    cursor: grab;
}

.reactSlickContainer button::after, 
.reactSlickContainer button::before {
    color: black;
}

.avatarsGroup {
    width: 25%;
    margin-left: 12px;
}

@media screen and (max-width: 1440px) {
    .reactSlickContainer img {
        width: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .socialsContainer {
        flex-direction: column;
    }
    .reactSlickContainer {
        width: 100%;
        margin: 0;
    }
    .avatarsGroup {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .reactSlickContainer img {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .reactSlickContainer img {
        width: 100%;
    }
}