.flow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.flow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.reactFlowWrapper {
    flex-grow: 1;
    height: 100%;
}

.flow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .flow {
        flex-direction: row;
    }

    .flow aside {
        width: 20%;
        max-width: 250px;
    }
}

.saveControls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
}

.saveControls button {
    margin-left: 5px;
}