.itemCard {
    width: 350px;
    max-width: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.rightSide {
    display: flex;
    align-items: center;
}

.imgContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.imgContainer img {
    width: 30px;
    height: 30px;
    border: 1px solid #1890ff;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}

.imgContainer img:nth-child(1) {
    transform: translateX(0);
}

.imgContainer img:nth-child(2) {
    transform: translateX(-10px);
}

.imgContainer img:nth-child(3) {
    transform: translateX(-20px);
}

.contentContainer {
    margin: 20px 0;
    overflow-x: hidden;
}

.contentContainer>div:nth-child(2) div {
    white-space: nowrap;
}

.drawerBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.drawerButton {
    width: 100%;
    border-radius: 2px;
    font-weight: bold !important;
    margin: 5px 0;
}