.main-page {
    opacity: 0;
    transition: all 0.5s ease;
}

.main-page.animated {
    opacity: 1;
}

#mainLayout{
    height: 100vh;
}

#mainLayout .trigger {
    padding: 0 24px;
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
  
#mainLayout .trigger:hover {
    color: #1890ff;
}
  
#mainLayout .logo {
    height: 32px;
    margin: 16px;
}

#mainLayout .logo img {
    width: 100%;
    height: 32px;
    object-fit: contain;
}
  
.site-layout .site-layout-background {
    background: #F2F7FA;
}

.ant-card {
    border-radius: 10px !important;
    margin-bottom: 20px !important;
}

.ant-select-selector {
    height: 100% !important;
    min-height: 40px !important;
    align-items: center;
}

.ant-card-body {
    height: 100% !important;
}

#messangerDrawer .ant-drawer-content-wrapper {
    width: 100% !important;
}

#workflowComponent .ant-card {
    margin-bottom: 0 !important;
}

#workflowComponent .ant-drawer-content-wrapper {
    width: 100% !important;
}

#workflowComponent .ant-drawer-body {
    padding: 12px 24px !important;
}

@media screen and (max-width: 768px) {
    #layoutSections {
        padding: 24px 10px !important;
    }
}