
.tagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.tagButton {
    padding: 5px 10px !important;
    color: #9e9e9e !important;
}

.tableTag {
    padding: 3px 10px !important;
    margin: 0 !important;
}

.table {
    overflow-x: auto;
}


@media screen and (max-width: 990px) {
    .tagsContainer {
        overflow: auto;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}